.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left {
  position: relative;
  width: 80%;
  height: 100%;
}

.image {
  object-fit: cover;
}

.right {
  width: 30%;
  height: 100%;
  background: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.heading {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.logo {
  margin-bottom: 1.5rem;
}

.tagline {
  font-size: 1.1rem;
  color: var(--foreground);
  margin-bottom: 2rem;
  line-height: 1.5;
  font-weight: bold;
}

.loginButton {
  padding: 0.6rem 1.5rem;
  border: none;
  border-radius: 8px;
  background: var(--secondary);
  color: var(--background);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.loginButton:hover {
  opacity: .8;
}
